@import "catppuccin-latte.css";

* {
  font-family: FiraCode Nerd Font Mono;
  font-size: 12px;
  min-height: 0;
  margin: 0;
  padding: 0;
}

#waybar {
  background: transparent;
  color: @text;
}

#custom-music,
#backlight,
#clock,
#battery,
#pulseaudio,
#network,
#tray,
#custom-lock,
#custom-logout,
#custom-power,
#custom-notification,
#workspaces {
  padding: 0 0.8rem;
  margin: 1rem 0;
  background-color: @crust;
}

#workspaces {
  border-radius: 0 8px 8px 0;
  padding: 0;
}

#workspaces button {
  color: @text;
  border-radius: 0 8px 8px 0;
  padding: 0 8px;
}

#workspaces button.active {
  color: @sky;
}

#workspaces button:hover {
  color: @sapphire;
  border-radius: 8px;
}

#network,
#pulseaudio,
#custom-notification {
  color: @sky;
}

#network:hover,
#pulseaudio:hover,
#custom-notification:hover {
  background-color: @surface0;
  color: @text;
}

#custom-notification {
  border-radius: 8px 0 0 8px;
}

#clock {
  color: @flamingo;
}

#tray {
  color: @lavender;
}

#custom-music {
  color: @mauve;
  border-radius: 8px;
}

#custom-power {
  color: @red;
  border-right: 2px solid @surface1;
}
