@import "catppuccin-latte.css";

* {
  font-family: FiraCode Nerd Font Mono;
  font-size: 16px;
  min-height: 0;
}

#waybar {
  background: transparent;
  color: @text;
  margin: 5px 5px;
}

#workspaces {
  border-radius: 1rem;
  margin: 1rem;
  background-color: @surface0;
}

#workspaces button {
  color: @rosewater;
  border-radius: 1rem;
  padding: 0.4rem;
}

#workspaces button.active {
  color: @sky;
  border-radius: 1rem;
}

#workspaces button:hover {
  color: @sapphire;
  border-radius: 1rem;
}

#custom-music,
#backlight,
#clock,
#battery,
#pulseaudio,
#network,
#custom-lock,
#custom-logout {
  background-color: @surface0;
  padding: 0.5rem 1rem;
  margin: 1rem 0;
}

#clock {
  color: @blue;
  border-radius: 0px 1rem 1rem 0px;
  margin-right: 1rem;
}

#network {
  color: @blue;
  border-radius: 1rem;
  /* margin-right: 1rem; */
}

#battery {
  color: @green;
}

#battery.charging {
  color: @green;
}

#battery.warning:not(.charging) {
  color: @red;
}

#backlight {
  color: @yellow;
}

#backlight, #battery {
  border-radius: 0;
}

#pulseaudio {
  color: @maroon;
  border-radius: 1rem 0px 0px 1rem;
  margin-left: 1rem;
}

#custom-music {
  color: @mauve;
  border-radius: 1rem;
}

#custom-lock {
  margin-right: 0;
  border-radius: 1rem 0px 0px 1rem;
  color: @sky;
}

#custom-logout {
  margin-right: 1rem;
  border-radius: 0px 1rem 1rem 0px;
  color: @red;
}
