OBSIDIAN_TEMPLATE_DIR="obsidian template directory"
OBSIDIAN_DAILY_NOTE_DIR="obsidian daily note directory"
OBSIDIAN_VAULT_ROOT="obsidian vault root"
OBSIDIAN_TEMPLATE_NOTE_DIR_MAP=template_1:path_1,template_2:path_2
